In [2]:
#In Dictionary each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. 
#An empty dictionary without any items is written with just two curly braces, like this: {}.

In [13]:
dict = {"Name": 'Dushyant', "College":"IIT BHU","Degree":"B.Tech","Age":"18"}
dict

{'Age': '18', 'College': 'IIT BHU', 'Degree': 'B.Tech', 'Name': 'Dushyant'}

In [14]:
#Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type 
#such as strings, numbers, or tuples.

In [15]:
dict['Age'] = 9; # update existing entry
dict['College'] = "MNIT"; # Add new entry
dict

{'Age': 9, 'College': 'MNIT', 'Degree': 'B.Tech', 'Name': 'Dushyant'}

In [16]:
dict2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict2['Name']; # remove entry with key 'Name'
#dict2.clear();     # remove all entries in dict
#del dict2 ;        # delete entire dictionary
dict2

{'Age': 7, 'Class': 'First'}

In [30]:
list = [1,2,3,4,5,6,7,8,9,10]         # Dictionary Comprehension
dict3 = {}
for var in list:
  if var % 2  == 0:
    dict3[var] = var**3

In [31]:
dict3

{2: 8, 4: 64, 6: 216, 8: 512, 10: 1000}

In [33]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan'] 
capital = ['Gandhinagar', 'Mumbai', 'Jaipur'] 

output_dict = {} 

# Using loop for constructing output dictionary 
for (key, value) in zip(state, capital): 
	output_dict[key] = value 

print("Output Dictionary using for loop:", output_dict)

Output Dictionary using for loop: {'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}