In [1]:
#SETS 
#The elements in the set cannot be duplicates.
#The elements in the set are immutable(cannot be modified) but the set as a whole is mutable.
#There is no index attached to any element in a python set. So they do not support any indexing or slicing operation.

In [3]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Fri', 'Wed', 'Sun', 'Sat', 'Mon', 'Tue', 'Thu'}
{'Feb', 'Jan', 'Mar'}
{17, 21, 22}

In [4]:
Days={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
 
for d in Days:
	print(d)

Fri
Wed
Sun
Sat
Mon
Tue
Thu

In [7]:
Days={"Mon","Tue","Wed","Thu","Fri","Sat"}
 
Days.add("Sun")
print(Days)

{'Fri', 'Wed', 'Sun', 'Sat', 'Mon', 'Tue', 'Thu'}

In [8]:
Days={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
 
Days.discard("Sun")
print(Days)

{'Fri', 'Wed', 'Sat', 'Mon', 'Tue', 'Thu'}

In [9]:
#Intersection of SETS
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

In [10]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Mon', 'Tue'}

In [11]:
#Set comprehensions are pretty similar to list comprehensions. The only difference between them is that set comprehensions use curly brackets { }.

In [1]:
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7] 

output_set = set() 

# Using loop for constructing output set 
for var in input_list: 
	if var % 2 == 0: 
		output_set.add(var) 

print("Output Set using for loop:", output_set)

Output Set using for loop: {2, 4, 6}

In [2]:
input_list.count(4)

2